*{box-sizing: border-box;}

body{
  margin: auto;
  padding: 2em;
  font-size: 1.6em;
  background-color: #fff;
  text-align: center;
  min-height: 100vh;
	
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: minmax(300px,auto) auto auto 100vh;
}

img
{
	width: 100%;
}

.cabecalho
{
	display: grid;
	grid-template-rows: auto auto auto; 
	overflow: hidden;
}

.cabecalho img
{
	margin: 2em auto;
	width: auto;
	max-width:220px;
	height: auto;
}

.cabecalho p
{
	font-family: 'Bungee', cursive;
	font-size: 1em;
	width: 100%;
	overflow: hidden;
	transform: scale(1.4) rotate(-5deg);
	margin: 1.5em auto;
}

.signature {
	font-family: Trattatello;
  font-size: 24px;
	line-height: 28px; 
  color: #080189;
	padding: 2em;
}

footer
{
  font-size: 14px;
	line-height: 1.4em;
  font-family: sans-serif;
}
footer ul
{
  padding: 0;
	list-style: none;
}

footer span{
	font-weight: bolder;
	color: #A0A0A0;
}


.asmaispedidas
{
	text-align:left;
	
}

.asmaispedidas ul li
{
	font-size: 0.5em;
}
























