*{box-sizing: border-box;}

body{
	background-color: #FFF;
	margin: auto;
	font-size: 2em;
	display: grid;
	text-align: center;
	min-height: 140vh;
	height: auto;
}

svg
{
	margin: 4em auto;
}

img
{
	width: 100%;
	max-width: 100%;
	margin: auto;
}

.100
{
	width: 100%;
}