*{box-sizing: border-box;}

body{
	display: grid;
  margin: 3em auto;
  background-color: #FFF;
	font-size: 2em;
  text-align: center;
	min-height: 50vh;
}

.logo
{
	margin: auto;
	width: auto;
	max-width: 60vw;
}

img
{
	width: 100%;
	max-width: 100%;
	margin: auto;
}

.100
{
	width: 100%;
}